body {
    padding-top: 8px;
    background: #ececec;
    font-family: Calibri;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.wrap {
    background: #ccc;
    padding: 8px;
    border-radius: 8px;
}

.colorSelector {
    padding: 8px;
    border-radius: 8px;
    align-self: center;
    background: #ccc;
}

.line {
    padding: 8px;
}

.dot {
    /* padding: 15vh, 15vh; */
    margin: 4px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-width: 2px;
    /* display: inline-block; */
}

.status {
    padding: 4px;
    border-radius: 8px;
    /* align-self: center; */
    background: #ccc;
}

.slidecontainer {
    padding: 8px;
    border-radius: 8px;
    /* align-self: center; */
    background: #ccc;
}

.slider {
    /* align-self: center; */
    -webkit-appearance: none;
    width: 95%;
    height: 44px;
    border-radius: 24px;
    background: #ddd;
    outline: none;
    opacity: 1;
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    /* -webkit-transition: .2s; */
    /* transition: opacity .2s; */
}


/* .slider:hover {
    opacity: 1;
} */

.slider::-webkit-slider-thumb {
    /* margin: 10px; */
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #555;
    cursor: pointer;
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
}

.slider::-moz-range-thumb {
    /* margin: 10px; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #555;
    cursor: pointer;
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
}